@inject OneBlog.Services.DataProviders.CalendarProvider appearances
@using Microsoft.AspNetCore.Routing
@model PostsResult
@{
    ViewBag.Title = $"{Model.Category}";
    ViewBag.ControllerName = "Root";
    var routeData = ViewContext.HttpContext.GetRouteData().Values;
    string id = null;
    if (routeData.ContainsKey(nameof(id)))
    {
        id = (string)routeData[nameof(id)];
    }
    ViewBag.ControllerName = "Category";
    ViewBag.Id = id;
}
<div class="container">
    <div class="row">
        @foreach (var story in Model.Posts)
        {
            <div class="col-lg-3">
                @Html.Partial("_PostBrief", story)
            </div>
        }
        <div class="row">
            <div class="col-lg-12">
                @Html.Partial("_Pager")
            </div>
        </div>
    </div>
</div>