<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="OneBlog">
      <section name="blogProvider" requirePermission="false" type="OneBlog.Core.Providers.BlogProviderSection, OneBlog.Core" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
      <section name="blogFileSystemProvider" requirePermission="false" type="OneBlog.Core.Providers.BlogFileSystemProviderSection, OneBlog.Core" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
    </sectionGroup>
  </configSections>
  <OneBlog>
    <blogProvider defaultProvider="DbBlogProvider" fileStoreProvider="XmlBlogProvider">
      <providers>
        <add connectionStringName="OneBlog" description="Sql Database Provider" name="DbBlogProvider" type="OneBlog.Core.Providers.DbBlogProvider, OneBlog.Core" />
      </providers>
    </blogProvider>
    <blogFileSystemProvider defaultProvider="XmlBlogProvider">
      <providers>
        <add description="Xml Blog Provider" name="XmlBlogProvider" type="OneBlog.Core.Providers.XmlFileSystemProvider, OneBlog.Core" />
      </providers>
    </blogFileSystemProvider>
  </OneBlog>
  <connectionStrings>
    <clear />
    <add name="OneBlog" connectionString="Data Source=|DataDirectory|\OneBlog.db;Version=3;BinaryGUID=False;" providerName="System.Data.SQLite" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="OneBlog.UsageScenario" value="singleblog" />
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <authentication mode="Forms">
      <forms timeout="129600" name=".ONEBLOG." protection="All" slidingExpiration="true" loginUrl="~/Account/Login" cookieless="UseCookies" />
    </authentication>
    <!--<trust level="Medium"/>-->
    <membership defaultProvider="DbMembershipProvider">
      <providers>
        <clear />
        <add name="DbMembershipProvider" type="OneBlog.Core.Providers.DbMembershipProvider, OneBlog.Core" passwordFormat="Hashed" connectionStringName="OneBlog" />
      </providers>
    </membership>
    <roleManager defaultProvider="DbRoleProvider" enabled="true" cacheRolesInCookie="false">
      <providers>
        <clear />
        <add name="DbRoleProvider" type="OneBlog.Core.Providers.DbRoleProvider, OneBlog.Core" connectionStringName="OneBlog" />
      </providers>
    </roleManager>
    <siteMap defaultProvider="PageSiteMap" enabled="true">
      <providers>
        <add name="PageSiteMap" description="The site map provider that reads in the .sitemap XML files." type="OneBlog.Core.Web.Controls.PageSiteMap, OneBlog.Core" />
        <add name="SecuritySiteMap" description="Used for authenticated users." type="OneBlog.Core.SecuritySiteMapProvider, OneBlog.Core" securityTrimmingEnabled="true" siteMapFile="Web.sitemap" />
      </providers>
    </siteMap>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    </staticContent>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="SecurityModule" type="OneBlog.Core.Security, OneBlog.Core" />
      <add name="RightModule" type="OneBlog.Core.Right, OneBlog.Core" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <!--<add verb="*" path="file.axd" type="OneBlog.Core.Web.HttpHandlers.FileHandler, OneBlog.Core"  />-->
      <!--<add verb="*" path="image.axd" type="OneBlog.Core.Web.HttpHandlers.ImageHandler, OneBlog.Core"  />-->
      <!--<add verb="*" path="*.res.axd" type="OneBlog.Core.Web.HttpHandlers.ResourceHandler, OneBlog.Core"  />-->
      <add name="JavaScriptHandler" verb="*" path="*.js.axd" type="OneBlog.Core.Web.HttpHandlers.JavaScriptHandler, OneBlog.Core" />
      <add name="SyndicationHandler" verb="*" path="rss.axd" type="OneBlog.Core.Web.HttpHandlers.SyndicationHandler, OneBlog.Core" />
      <add name="SiteMap" verb="*" path="sitemap.axd" type="OneBlog.Core.Web.HttpHandlers.SiteMap, OneBlog.Core" />
      <add name="TrackbackHandler" verb="*" path="trackback.axd" type="OneBlog.Core.Web.HttpHandlers.TrackbackHandler, OneBlog.Core" />
      <add name="PingbackHandler" verb="*" path="pingback.axd" type="OneBlog.Core.Web.HttpHandlers.PingbackHandler, OneBlog.Core" />
      <add name="OpenSearchHandler" verb="*" path="opensearch.axd" type="OneBlog.Core.Web.HttpHandlers.OpenSearchHandler, OneBlog.Core" />
      <add name="MetaWeblogHandler" verb="*" path="metaweblog.axd" type="OneBlog.Core.API.MetaWeblog.MetaWeblogHandler, OneBlog.Core" />
      <add name="RatingHandler" verb="*" path="rating.axd" type="OneBlog.Core.Web.HttpHandlers.RatingHandler, OneBlog.Core" />
      <add name="BlogMLExportHandler" verb="*" path="blogml.axd" type="OneBlog.Core.Web.HttpHandlers.BlogMLExportHandler, OneBlog.Core" />
      <add name="OpmlHandler" verb="*" path="opml.axd" type="OneBlog.Core.Web.HttpHandlers.OpmlHandler, OneBlog.Core" />
      <add name="Apml" verb="*" path="apml.axd" type="OneBlog.Core.Web.HttpHandlers.Apml, OneBlog.Core" />
      <add name="RsdHandler" verb="*" path="rsd.axd" type="OneBlog.Core.Web.HttpHandlers.RsdHandler, OneBlog.Core" />
      <add name="Sioc" verb="*" path="sioc.axd" type="OneBlog.Core.Web.HttpHandlers.Sioc, OneBlog.Core" />
      <add name="Foaf" verb="*" path="foaf*.axd" type="OneBlog.Core.Web.HttpHandlers.Foaf, OneBlog.Core" />
      <!--<add name="StaticFileHandler" verb="*" path="*.htm" type="System.Web.StaticFileHandler" />-->
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>