@model PostsResult
@inject Microsoft.Extensions.Options.IOptions<AppSettings> AppSettings
@{

    ViewBag.Title = $"Tag: {ViewContext.RouteData.Values["tag"]} - {AppSettings.Value.Title}";
    ViewBag.Tag = ViewContext.RouteData.Values["tag"];
    ViewBag.ControllerName = "Tag";
}
@if (Model.Posts != null)
{
    <div class="wrapper">
        <div class="row row--full">
            <div class="content-title">
                <h2>@ViewBag.Tag</h2>
            </div>
            <div class="post-list">
                @foreach (var item in Model.Posts)
                {
                    @Html.Partial("_PostBrief", item)
                }
            </div>
        </div>
        <div class="row row--full">
            @Html.Partial("_Pager")
        </div>
    </div>

}