.section
{
    display: -ms-flexbox;
    display: flex;

    background: #fafafa;
}
.section-sidebar
{
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 28rem;
    height: 100vh;

    -ms-flex: 0 0 28rem;
        flex: 0 0 28rem;
    -ms-flex-direction: column;
}
.section-content
{
    overflow-x: hidden;
    overflow-y: auto;

    height: 100vh;
    padding-right: 4rem;

    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
}
.section-footer
{
    font-size: 1.2rem;

    position: absolute;
    bottom: 0;
    left: 0;

    width: 28rem;
    height: 12rem;
    padding: 2rem;

    text-align: center;

    color: #ccc;

    -ms-flex: 0 0 12rem;
        flex: 0 0 12rem;
}
.section-footer a
{
    color: #999;
}
.section-footer p
{
    margin-bottom: 0;
}
.section-footer .text-red
{
    color: #e06870;
}
.sidebar-header
{
    overflow-y: auto;

    padding: 4rem 2rem 2rem 2rem;

    text-align: center;

    color: #999;

    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
}
.sidebar-header .sidebar-header-logo
{
    font-size: 1.4rem;

    display: block;

    padding: 1rem;

    text-decoration: none;

    box-shadow: none;
}
.sidebar-header .sidebar-header-logo .logo
{
    height: 4.8rem;
}
.sidebar-header p
{
    font-size: 1.2rem;
    line-height: 2rem;
}
.sidebar-header .nav
{
    margin: 2rem 0;
    padding: 2rem 0;

    list-style: none;

    border-top: .1rem solid #eee;
}
.sidebar-header .nav:last-of-type
{
    border-bottom: .1rem solid #eee;
}
.sidebar-header .nav a
{
    color: #666;
}
.sidebar-footer
{
    height: 12rem;

    -ms-flex: 0 0 12rem;
        flex: 0 0 12rem;
}
.content-title
{
    margin-top: 2rem;
    padding: 2rem 1rem 0 1rem;
}
.content-title h2
{
    font-size: 2rem;

    margin-bottom: 1rem;
}
.content-cards
{
    display: -ms-flexbox;
    display: flex;

    padding: 2rem 0;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.content-cards .content-card
{
    max-width: 33.3333%;
    padding: 1rem;

    -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%;
}
.content-cards .card
{
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    height: 28rem;

    transition: all .25s ease-in-out;

    border: 0;
    box-shadow: 0 .1rem .2rem rgba(0, 0, 0, .05);

    -ms-flex-direction: column;
}
.content-cards .card:hover
{
    box-shadow: 0 .2rem .6rem rgba(0, 0, 0, .15);
}
.content-cards .card-image
{
    display: block;

    width: 100%;
    height: 18rem;

    background-position: center;
    background-size: cover;

    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
}
.content-cards .card-header
{
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
}
.content-cards .card-header .card-title h1
{
    font-size: 1.8rem;
    line-height: 2.3rem;

    height: 4rem;
    margin-bottom: 0;
}
.content-cards .card-header .card-title a
{
    color: #333;
}
.content-cards .card-header .card-title a:focus,
.content-cards .card-header .card-title a:hover
{
    text-decoration: none;

    color: #2687fb;
}
.content-cards .card-body
{
    font-size: 1.3rem;
    line-height: 2rem;

    padding: 2rem 1.5rem 0 1.5rem;

    color: #999;

    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
}
.content-cards .card-body .card-body-text
{
    line-height: 2rem;

    overflow: hidden;

    max-height: 4rem;
}
.content-cards .card-footer
{
    font-size: 1.3rem;
    line-height: 2rem;

    padding-top: 1.5rem;

    color: #ccc;

    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
}
.content-cards .card-footer a
{
    color: #ccc;
}
.content-cards .card-footer a:focus,
.content-cards .card-footer a:hover
{
    color: #999;
}
.content-post
{
    margin: 4rem 0;
    padding: 4rem;

    color: #666;
    background: #fff;
    box-shadow: 0 .1rem .2rem rgba(0, 0, 0, .05);
}
.content-post .content-post-title h1
{
    font-size: 2.8rem;

    margin: 0;

    color: #333;
}
.content-post .content-post-meta
{
    margin: 2rem 0;

    color: #ccc;
}
.content-post .content-post-meta.post-meta-tags a
{
    margin: .5rem 1rem .5rem 0;
    padding: .5rem 1rem;

    text-decoration: none;

    color: #999;
    border-radius: .2rem;
    background: #fafafa;
}
.content-post .content-post-meta.post-meta-tags a:focus,
.content-post .content-post-meta.post-meta-tags a:hover
{
    color: #666;
    background: #eee;
}
.content-post .content-post-body
{
    margin-bottom: 5rem;
}
.content-post .content-post-body h2
{
    font-size: 2.4rem;

    margin-top: 5rem;
    margin-bottom: 2.5rem;

    color: #333;
}
.content-post .content-post-body h3
{
    font-size: 1.8rem;

    margin-top: 5rem;
    margin-bottom: 2.5rem;

    color: #333;
}
.content-post .content-post-body h4
{
    font-size: 1.6rem;

    margin-top: 5rem;
    margin-bottom: 2.5rem;

    color: #333;
}
.content-post .content-post-body p
{
    margin-bottom: 2rem;
}
.content-post .content-post-body hr
{
    border: 0;
    border-top: .1rem solid #eee;
}
.content-post .content-post-body img
{
    max-width: 100%;
    height: auto;
}
.content-post .content-post-author
{
    margin-top: 4rem;
    padding-top: 2rem;

    border-top: .1rem solid #eee;
}
.content-post .content-post-author p:last-child
{
    margin-bottom: 0;
}
.content-post .content-post-comments
{
    margin-top: 2rem;
    padding-top: 2rem;

    border-top: .1rem solid #eee;
}
.content-post .content-post-comments h4
{
    font-size: 1.8rem;
}
.content-post .content-post-comments .btn.btn-primary
{
    height: auto;

    white-space: normal;
}
.content-post .content-post-comments .btn.btn-primary a
{
    text-decoration: underline;

    color: #fff;
}
.content-post .toc
{
    display: inline-block;
    float: right;

    min-width: 24rem;
    margin-bottom: 4rem;
    margin-left: 4rem;
    padding: 2rem;

    background: #fafafa;
}
.content-post .toc ul
{
    margin-bottom: 0;
    margin-left: 0;

    list-style: none;
}
.content-post .toc ul ul
{
    padding-left: 1em;

    border-left: .1rem solid #dedede;
}
.content-post .toc ul a
{
    color: #666;
}
.content-page .content-post-body
{
    margin: 4rem 0 0 0;
}
.isso-postbox .textarea-wrapper
{
    margin-bottom: 1rem;
}
.isso-postbox .textarea-wrapper .textarea
{
    width: 100%;
    min-height: 8em;
    margin-top: 2rem;
}
.isso-postbox .textarea-wrapper .textarea,
.isso-postbox .input-wrapper input
{
    padding: .6rem .8rem;

    border: .1rem solid #eee;
    border-radius: .2rem;
    background: #fafafa;
}
.isso-postbox .textarea-wrapper .textarea:focus,
.isso-postbox .input-wrapper input:focus
{
    border-color: #999;
    outline: none;
}
.isso-postbox .auth-section
{
    display: -ms-flexbox;
    display: flex;
}
.isso-postbox .auth-section .input-wrapper
{
    width: 25%;
    padding-right: 1rem;

    -ms-flex: 1 1 25%;
        flex: 1 1 25%;
}
.isso-postbox .auth-section .post-action
{
    width: 25%;

    -ms-flex: 1 1 25%;
        flex: 1 1 25%;
}
.isso-postbox .auth-section .post-action input
{
    padding: .6rem;

    color: #fff;
    border: .1rem solid #177ffb;
    border-radius: .2rem;
    background: #2687fb;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
.isso-postbox .auth-section .post-action input:focus
{
    outline: none;
    background: #177ffb;
}
.isso-postbox .auth-section input
{
    width: 100%;
}
.isso-comment
{
    display: -ms-flexbox;
    display: flex;

    margin-top: 2rem;
}
.isso-comment .avatar
{
    max-width: 3.2rem;

    background: #fafafa;

    -ms-flex: 0 0 3.2rem;
        flex: 0 0 3.2rem;
}
.isso-comment .avatar svg
{
    width: 100%;
    height: auto;

    border-radius: 50%;
}
.isso-comment .text-wrapper
{
    overflow: auto;

    padding-left: 1.5rem;

    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
}
.isso-comment .textarea-wrapper .textarea
{
    padding: .6rem .8rem;

    border: .1rem solid #eee;
    border-radius: .2rem;
    background: #fafafa;
}
.isso-comment .textarea-wrapper .textarea:focus
{
    border-color: #999;
    outline: none;
}
.isso-comment .isso-comment-header .author
{
    font-weight: bolder;
}
.isso-comment .isso-comment-header .spacer
{
    margin-right: 1rem;
    margin-left: 1rem;

    color: #ccc;
}
.isso-comment .isso-comment-header .permalink
{
    color: #ccc;
}
.isso-comment .isso-comment-header .note
{
    margin-left: .5rem;
}
.isso-comment .upvote,
.isso-comment .downvote
{
    display: inline-block;
}
.isso-comment .upvote svg,
.isso-comment .downvote svg
{
    position: relative;
    top: .4rem;
}
.isso-comment .reply:not(:first-child),
.isso-comment .edit:not(:first-child),
.isso-comment .cancel:not(:first-child),
.isso-comment .delete:not(:first-child)
{
    font-size: 1.2rem;

    margin-left: .5rem;
}
.isso-comment.isso-no-votes .votes
{
    display: none;
}
/*

Dracula Theme v1.2.0

https://github.com/zenorocha/dracula-theme

Copyright 2015, All rights reserved

Code licensed under the MIT license
http://zenorocha.mit-license.org

@author Éverton Ribeiro <nuxlli@gmail.com>
@author Zeno Rocha <hi@zenorocha.com>

*/
.hljs
{
    display: block;
    overflow-x: auto;

    background: #282a36;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-section,
.hljs-link
{
    color: #8be9fd;
}
.hljs-function .hljs-keyword
{
    color: #ff79c6;
}
.hljs,
.hljs-subst
{
    color: #f8f8f2;
}
.hljs-string,
.hljs-title,
.hljs-name,
.hljs-type,
.hljs-attribute,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable
{
    color: #f1fa8c;
}
.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta
{
    color: #6272a4;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong
{
    font-weight: bold;
}
.hljs-emphasis
{
    font-style: italic;
}
@media screen and (min-width: 2048px)
{
    .content-cards .content-card
    {
        max-width: 12.5%;

        -ms-flex: 0 0 12.5%;
            flex: 0 0 12.5%;
    }
}
@media screen and (min-width: 1600px)
{
    .section-sidebar
    {
        width: 40rem;

        -ms-flex: 0 0 40rem;
            flex: 0 0 40rem;
    }
    .section-footer
    {
        width: 40rem;
    }
    .content-cards .content-card
    {
        max-width: 25%;

        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    }
}
@media screen and (max-width: 1200px)
{
    .section-sidebar
    {
        width: 22rem;

        -ms-flex: 0 0 22rem;
            flex: 0 0 22rem;
    }
    .section-footer
    {
        width: 22rem;
    }
    .content-cards .content-card
    {
        max-width: 50%;

        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    }
}
@media screen and (max-width: 840px)
{
    .content-cards .content-card
    {
        max-width: 100%;

        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    }
    .content-cards .content-card .card
    {
        height: auto;
    }
}
@media screen and (max-width: 640px)
{
    .section
    {
            flex-direction: column;

        -ms-flex-direction: column;
    }
    .section .section-sidebar
    {
        width: 100%;
        height: auto;

        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    }
    .section .section-sidebar .sidebar-header
    {
        padding: 2.5rem;
    }
    .section .section-sidebar .sidebar-footer
    {
        height: 0;

        -ms-flex: 0;
            flex: 0;
    }
    .section .nav
    {
        margin-bottom: 0;
        padding-top: 0;

        border: 0;
    }
    .section .nav li
    {
        display: inline;
    }
    .section .nav li:not(:first-child)::before
    {
        content: '・';
    }
    .section .section-content
    {
        height: auto;
        padding-right: 0;
    }
    .section .section-content .content-post
    {
        margin: 2rem 0;
        padding: 4rem 2rem;
    }
    .section .section-content .content-post h2
    {
        font-size: 2.4rem;
        line-height: 3.2rem;
    }
    .section .section-content .content-post .toc
    {
        float: none;

        width: 100%;
        max-width: none;
        margin-bottom: 1rem;
        margin-left: 0;
    }
    .section .section-content .content-post .toc ul
    {
        margin-bottom: 0;
    }
    .section .section-content .auth-section
    {
            flex-direction: column;

        -ms-flex-direction: column;
    }
    .section .section-content .auth-section .input-wrapper,
    .section .section-content .auth-section .post-action
    {
        width: 100%;
        padding-right: 0;

        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    }
    .section .section-footer
    {
        position: static;

        width: 100%;
    }
}
