.post-comment-count
{
    float: right;
}
/* Fix issue #3 */
.content-post-body > iframe
{
    max-width: 100%;
}
td:not([class]),
th:not([class])
{
    padding: 2px .5em;

    border: 1px solid #ccc;
}
table:not([class])
{
    max-width: 100%;

    border-collapse: collapse;
}
