@model One.Models.ToolsViewModels.VideoFetchViewModel
@{
    ViewBag.Title = "VIP电影在线播放,VIP视频解析,爱奇艺VIP，腾讯视频VIP，优酷VIP - 大田村";
}
<div class="container">
    <div class="col-md-14 column">
        <div class="panel panel-default">
            <div class="panel-body">
                使用方法:将要播放的VIP视频网址粘贴输入框。目前支持爱奇艺、优酷、腾讯……等等VIP视频解析。例如:（<a href="http://www.iqiyi.com/v_19rr9uc1jk.html" target="_blank">http://www.iqiyi.com/v_19rr9uc1jk.html</a>）公告:请勿相信或者点击任何视频广告，本服务使用完全免费！           <br>
            </div>
        </div>
    </div>



    <form asp-controller="Tools" asp-action="VideoFetch" method="post">
        <div class="input-group" style="width: 100%;">
            <span class="input-group-addon input-lg" style="width: 80px;">播放地址</span>
            <input asp-for="Url" class="form-control input-lg" placeholder="输入播放地址" />
        </div>
        <br>
        <div>
            <button type="submit" class="btn btn-default btn-lg btn-block">获取下载地址</button>
        </div>
    </form>
    <br>

    @if (!string.IsNullOrEmpty(Model.Prompt))
    {
        <div class="col-md-14 column">
            <div class="panel panel-default">
                <div class="panel-body" style="color:red">
                    @Model.Prompt
                    <br />
                </div>
            </div>
        </div>
    }

    @if (Model.VideoUrls.Count > 0)
    {
        <div class="col-md-14 column">
            <div class="panel panel-default">
                <div class="panel-body">

                    视频地址：

                    @for (int i = 0; i < Model.VideoUrls.Count; i++)
                    {
                        <a href="@Model.VideoUrls[i].File" target="main">【源@(i + 1)】</a>
                    }

                </div>
            </div>
        </div>
    }
</div>
