@model  OneBlog.Data.Models.PostsResult
@inject Microsoft.Extensions.Options.IOptions<AppSettings> AppSettings
@{
    ViewBag.Title = $"{AppSettings.Value.Title}";
    ViewBag.ControllerName = "Root";
}

<div class="wrapper">
    <div class="row row--full">
        <div class="post-list">
            @foreach (var item in Model.Posts)
            {
                @Html.Partial("_PostBrief", item)
            }
        </div>
    </div>
    <div class="row row--full">
        @Html.Partial("_Pager")
    </div>
</div>
