@model  OneBlog.Data.Models.PostsResult
@{
    ViewBag.ControllerName = "Root";
}
<div class="wrapper">
    <div class="row row--full">
        <div class="post-list">
            @foreach (var item in Model.Posts)
            {
                @Html.Partial("_PostBrief", item)
            }
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("_Pager")
        </div>
    </div>
</div>
