@{
    ViewBag.Title = $"{ViewBag.Title} - 花纷飞";
}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="~/css/account.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment names="Production,Staging">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/css/account.css" rel="stylesheet" asp-append-version="true" />
    </environment>
</head>
<body class="ltr">
    <div class="account">
        <div id="StatusBox">
            <div id="validationSummary" asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="account-box">
            @RenderBody()
        </div>
    </div>
    @RenderSection("scripts", required: false)

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/account.js" asp-append-version="true"></script>
    </environment>
    <environment names="Production,Staging">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/account.js" asp-append-version="true"></script>
    </environment>

</body>
</html>
