
<div class="well-global">
    <div id="commentlist" style="display: block">

        <ul id="id_0c6910fd-a3f7-480d-bac2-f8d87adb96c7">
            <li class="comment-item">
                <div class="comment-content ">
                    <img src='http://www.gravatar.com/avatar/6d94bb81bb9fe5dde17e2c5c535cc07e.jpg?d=identicon' width='48' />
                    <div class="comment-author">
                        <a class="fn">sss</a>
                    </div>
                    <div class="comment-text">
                        ssssssssss
                    </div>
                    <div class="comment-replylink">
                        <span>08 九月 2016</span> -
                    </div>
                    <div class="comment-adminlinks">
                        <a class="email" href="mailto:admin@huafenfei.com">admin@huafenfei.com</a> | <a href="http://www.domaintools.com/go/?service=whois&amp;q=::1/">::1</a> | <a href="javascript:void(0);" onclick="if (confirm('您确定要 删除 评论??')) location.href='?deletecomment=0c6910fd-a3f7-480d-bac2-f8d87adb96c7'">删除</a> | <a href="?approvecomment=0c6910fd-a3f7-480d-bac2-f8d87adb96c7">通过</a>
                    </div>
                </div>
                <div id="replies_0c6910fd-a3f7-480d-bac2-f8d87adb96c7" style="display:none;">

                </div>
            </li>
        </ul>

    </div>
</div>


<div id="comment-form">
    <img src="/Content/images/blog/ajax-loader.gif" width="24" height="24" alt="Saving the comment" style="display: none" id="ajaxLoader" />
    <span id="status"></span>

    <div class="comment-form well-global">
        <h3 class="well-global-title" id="addcomment">添加评论</h3>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="名字" name="txtName" id="txtName" />
        </div>
        <div class="form-group">
            <input type="text" placeholder="E-mail" class="form-control" id="txtEmail" />
            <span id="gravatarmsg"></span>
        </div>

        <div class="form-group" id="commentCompose">
            <textarea class="form-control" id="txtContent" placeholder="评论" cols="50" rows="7" name="txtContent"></textarea>
        </div>

        <div class="form-group comment-preview">
            <label>预览</label>
            <div id="commentPreview">
                <img src="/Content/images/blog/ajax-loader.gif" style="display: none" alt="Loading" />
            </div>
        </div>

        <div id="commentCaptcha" class="form-group"></div>
        <div class="form-group">
            <label>
                <input type="checkbox" id="cbNotify" />
                有评论的时候通知我
            </label>
        </div>
        <input type="button" id="btnSaveAjax" value="保存评论" class="btn btn-primary btn-block" onclick="return OneBlog.validateAndSubmitCommentForm()" />
    </div>
    <input type="hidden" name="ctl00$cphBody$ucCommentList$hiddenReplyTo" id="ctl00_cphBody_ucCommentList_hiddenReplyTo" />
    <p id="cancelReply" style="display: none;">
        <a href="javascript:void(0);" onclick="OneBlog.cancelReply();">取消对该留言的回复</a>
    </p>
    <input type="hidden" name="ctl00$cphBody$ucCommentList$hfCaptcha" id="ctl00_cphBody_ucCommentList_hfCaptcha" value="6e4874a2-4cd7-4f3f-9cf0-d38d0c54b5ca" />
</div>
