.head-banner-container {
    background-color: #3a3f51;
}
.mp-header-content {
    padding: 5px;
}
.header-logo {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
}
.logo-ico {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url('/mock/img/songguo-logo.jpeg');
    background-position: 50% 50%;
    background-size: cover;
}
.logo-title {
    position: relative;
    top: -10px;
    margin-left: 5px;
}


.sub-banner {
    font-weight: 300;
    padding: 20px;
    background-color: #f7f7fa;
    border-bottom: 1px solid #dee5e7;
}
.website-title {
    color: #585858;
}

.col-container .config-form-container {
    border-bottom: 1px solid #dee5e7;
    height: 600px;
    padding: 40px 60px;
    background-color: #F7F4E9;
}

.main-form {
    border: 1px solid #dee5e7;
    width: 960px;
    height: 600px;
    margin: auto;
    background-color: #fff;
}

.col-container .config-list-container {
    background: #f7f7fa;
    width: 100%;
}

.form-hd-bar .hd-title {
    background-color: #3a3f51;
    color: #fff;
    border: 0;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 24px;
}

.form-content {
    height: 400px;
}

.btn-bar {
    position: relative;
    top: 10px;
}

.btn-bar .add-config-btn {
    border: 1px solid #0793f5;
    background: #0793f5;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    padding: 8px 10px;
    cursor: pointer;
    float: right;
    margin-right: 52px;
}

.add-config-btn:hover {
    border: 1px solid #0676c4;
    background: #0676c4;
}

.config-list-container .hd-title {
    background-color: #901830;
    margin-bottom: 30px;
}

/* Table styling */

table {
    width:100%;
}

th, td {
    padding:7px 15px;
    text-align:left;
    border: 1px solid #dee5e7;
}

th {
    background-color: #434A48;
    color: #fff;
    font-weight: bold;
}

tbody tr:nth-child(odds) {
    background-color: #f0f1f8;;
}

tbody tr:nth-child(even) {
    background-color: #fff;
}

.operate-col-item .remove-btn {
    background-color: pink;
    border: 1px solid pink;
    border-radius: 4px;
    color: #fff;
    margin-right: 20px;
}

.operate-col-item .remove-btn:hover {
    background-color: #901830;
    border: 1px solid #901830;
}

.operate-col-item .modify-btn {
    background-color: #4c9e82;
    border: 1px solid #4c9e82;
    border-radius: 4px;
    color: #fff;
}

.operate-col-item .modify-btn:hover {
    background-color: #006400;
    border: 1px solid #006400;
}

.operate-col-item span {
    padding: 3px 6px;
    cursor: pointer;
}

.row-container textarea {
    resize: none;
    outline: none;
    border: 1px solid #dee5e7;
    border-radius: 4px;
    padding: 10px;
}

.row-container input {
    border: 1px solid #dee5e7;
    border-radius: 4px;
    outline: none;
    padding: 10px;
    width: 100%;
}

.row-left:before {
    content: '*';
    margin-left: -14px;
    color: #ff5252;
    font-size: 20px;
    vertical-align: top;
    position: absolute;
}

.row-left {
    width: 80px;
    margin-left: 40px;
    display: inline-block;
}

.row-right {
    width: 760px;
    display: inline-block;
}

.row-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.op-bar .row-left, .cookie-bar .row-left, .json-bar .row-left {
    position: relative;
    top: -40px;
}






