.head-banner-container {
    background-color: #3a3f51;
}
.mp-header-content {
    padding: 5px;
}
.header-logo {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
}
.logo-ico {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url('/mock/img/songguo-logo.jpeg');
    background-position: 50% 50%;
    background-size: cover;
}
.logo-title {
    position: relative;
    top: -10px;
    margin-left: 5px;
}


.sub-banner {
    font-weight: 300;
    padding: 20px;
    background-color: #f7f7fa;
    border-bottom: 1px solid #dee5e7;
}
.website-title {
    color: #585858;
}
.add-website-btn {
    cursor: pointer;
    padding: 6px;
    font-size: 14px;
    border: 1px solid #e2e2e2;
    border-radius: 2px;
    background-color: #fff;
    outline: none;
    margin-left: 25px;
    color: #999;
}
.add-website-btn:hover {
    background-color: #eee;
}
.add-website-btn img {
    height: 16px;
    width: 16px;
    position: relative;
    top: 2px;
}

.main-box {
    background-color: #f7f7fa;
    overflow-y: scroll;
    height: 100%;
    padding: 15px;
}

.cards-group {
    width: 100%;
    float: left;
}

.card-item {
    float: left;
    display: inline-block;
    background-color: #fff;
    min-height: 125px;
    width: 28%;
    border: 1px solid #edf1f2;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    margin: 10px 20px;
}

.panel {
    padding: 15px;
}

.card-head-photo {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-image: url('/mock/img/card-logo.png');
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
    top: -16px;
}

.card-info {
    display: inline-block;
    font-size: 14px;
    margin-left: 15px;
    padding-top: 10px;
    width: 72%;
}

.card-info > div {
      width: 275px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin: 6px 0;
}

.card-link {
    text-decoration: none;
}

.card-name-bar {
    color: #333;
    font-weight: 700;
}

.card-name-bar:hover {
     color: #0793f5;
}

.card-url-bar {
    color: #6d77b8;
}
.card-path-bar {
    color: #98a6ad;
}

.card-tips .default-flag {
    height: 20px;
    width: 20px;
    position: relative;
    top: 4px;
    margin-right: 4px;
}

.card-tips .slogen {
    font-size: 11px;
    font-weight: normal;
    color: #98a6ad;
}

.btn-bar {
     font-size: 14px;
     font-weight: normal;
     float: right;
    
}

.delete-card-btn {
    border: 1px solid #0793f5;
    background: #0793f5;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
    padding: 4px;
    border-radius: 4px;
}

.delete-card-btn:hover {
     border: 1px solid #0676c4;
     background: #0676c4;
}

.modify-card-btn {
    border: 1px solid #465262;
    background: #3d4958;
    color: #fff;
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;
}

.modify-card-btn:hover {
     border-color: #272e38;
     background: #272e38;
}

.modal-form .form-row-container {
    margin-bottom: 15px;
}

.form-row-left {
    margin-bottom: 5px;
    font-size: 14px;
    color: #000;
    font-weight: 700;
}

.form-row-left:before {
    content: '*';
    margin-left: -14px;
    color: #ff5252;
    font-size: 20px;
    vertical-align: top;
    position: absolute;
}

.form-row-right input {
    outline: none;
    height: 25px;
    width: 484px;
    padding-left: 5px;
}
.form-row-right textarea {
    outline: none;
    padding: 10px;
    border: 1px solid #e2e2e2;
}


.modal-trigger {
    text-decoration: none;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0;
    left: 0;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#dialog-container {
    width: 530px;
    min-height: 250px;
    height: auto;
    background-color: #fff;
    border: 1px solid #ddd;
}

#dialog-container .modal-head-container {
    padding: 10px;
    background-color: #f0f3f5;
}

#dialog-container .modal-head-container .modal-title {
    color: #666;
    font-weight: bold;
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dialog-ct {
    border-bottom: 1px solid #ddd;
}

.modal_close {
    height: 16px;
    width: 16px;
    float: right;
    cursor: pointer;
}

.footer-btn-bar {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}

.footer-btn-bar .ensure-btn {
    border: 1px solid #0793f5;
    background: #0793f5;
    color: #fff;
    cursor: pointer;
    padding: 6px 10px;
    border-radius: 4px;
    margin-right: 30px;
}

.ensure-btn:hover {
    border: 1px solid #0676c4;
    background: #0676c4;
}


.footer-btn-bar .cancel-btn {
    border: 1px solid #465262;
    background: #3d4958;
    color: #fff;
    cursor: pointer;
    padding: 6px 10px;
    border-radius: 4px;
}

.cancel-btn:hover {
    border-color: #272e38;
    background: #272e38;
}

.modal-body-container {
    margin: 20px;
}

.footer-btn-bar {
    position: relative;
    top: -30px;
}















